<div class="t-center">
	<h1>Thank you for visiting my website.</h1>
	<h2>This is my Ruby on Rails Application.</h2>
	<h3>I am a enthusiastic developer.</h3>
	<h4>I really love what I do.</h4>
	<h5>I love NZ.</h5>
	<p>made by TEO KIM ( TAEHO KIM )</p>
	<a href="mailto:withfpp@gmail.com">E-mail : withfpp@gmail.com</a>
</div>
