@import "bootstrap";
@import "boot.css.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto|Oswald);

// body {
// 	background-color: #f2f2f6;
// 	color: #353e45;
// 	font-family: 'Roboto', sans-serif;
// }

// .navbar-default{
// 	background-color: #353e45;
// }

// .navbar-default .navbar-brand {
// 	font-family: 'Oswald', sans-serif;
// 	font-weight: bold;
// 	color: #ffffff;
// 	font-size: 28px;
// }
// .navbar-default .navbar-brand:hover{
// 	color: #f6cc68;
// }

// .navbar-default .navbar-nav > li > a {
// 	font-family: 'Roboto', sans-serif;
// 	font-size: 15px;
// 	font-weight: bold;
// 	color: #717f86;
// }

.t-center{
	text-align:center;
}

.col-md-3:nth-child(4n +1 ) {
	clear:both;
}

.col-md-6 {
	h3 { 
		font-size: 50px;
	}
	h5 {
		font-size: 26px;
	}
	p {
		font-size: 18px;
	}
}
.container {
	min-height:700px;
}
.small-thumb{
	width:50px;
	height:50px;
}

.jumbotron {
	background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/concrete_wall_2.png") ;
	h1 {
		font-family: 'oswald', sans-serif;
	}
}


.table > tbody > tr > td {
	vertical-align:middle !important;
}

.inner-container{
	width:50%;
	margin:0 auto;
}



.table-hover > tbody > tr > td, .table-hover > tbody > tr > th {
	text-align: center;
}

a.sell {
	background-color: #434643;
}

div.imgfit {
	max-width:100% !important;
    height:auto;
    display:block;
}
div.row.t-center img {
	height:200px;
	width:100%;
}

a.navbar-brand {
	font-weight: bold;
	color: #D4D4D4;
}

footer {
	margin: 0 auto;
	text-align: center;
	background-color: #4A4A4A;
	color:white;
	font-size:16px;
	line-height:30px;
}


